@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

body {
    font-family: Oswald, serif;
    background: linear-gradient(90deg, #a9840b 0%, #2f054a 73%);
}

p {
    color: rgb(0, 217, 255);
}

.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: rgb(187, 192, 192);
}

.navbar-brand img {
    width: 35px;
}

.navbar-toggler {
    color: rgb(187, 192, 192);
}

.sidebar {
    color: rgb(0, 217, 255);
    background: linear-gradient(270deg, #a9840b 0%, #2f054a 73%);

}

.card {
    background: linear-gradient(270deg, #a9840b 0%, #2f054a 73%);
    color: rgb(0, 217, 255);
}

.card a {
    text-decoration: none;
    color: rgb(0, 217, 255);

}

.slide-text,
.footer-text {
    color: bisque;
    margin: auto auto;
}

footer, .btn-outline-danger {
    background: linear-gradient(270deg, #a9840b 0%, #2f054a 73%);
}

.media-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-anim {
    animation: Palochka 2s ease 0s infinite normal forwards;
}

@keyframes Palochka {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}